/* body */
body {
    font-family: Lato, "Helvetica Neue", OpenS, sans-serif;
}

/* Welcome Section */
#welcome-section {
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(75deg, #4e4e4e, #1f1f1f);
    display: flex;
    justify-content: center;
}
.welcome-div {
    align-self: center;
    text-align: center;
}
h1 {
    color: white;
    letter-spacing: 1px;
    font-size: 4em;
    margin-bottom: 0;
}
.welcome-p {
    margin-top: 0;
    color: #8e0909;
    font-size: 2.5em;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 1px;
    font-stretch: ultra-expanded;
}

/* Navigation Bar */
#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: rgba(255, 255, 255, 1);
    border-bottom: 1px solid #4e4e4e;
    color: #444444;
}
.nav-links {
    display: flex;
    margin-right: 2em;
    list-style: none;
}
.nav-link {
    margin-left: 2em;
    text-decoration: none;
    font-size: 1.25em;
    color: #444444;
}
.nav-link:hover {
    text-decoration: underline;
    transition: all 0.3s ease-in-out 0s;
}
.nav-link:visited {
    color: #444444;
}

/* Projects Section */
.projects-title {
    text-align: center;
}
.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2em;
    justify-items: center;
}
    /* Small Screens Project Grid Changes*/
@media only screen and (min-width: 768px) and (max-width: 1076px) {
    .projects-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 768px) {
    .projects-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
}
.project-tile {
    border-radius: 5px;
}
.project-tile:hover {
    box-shadow: 2px 5px 15px 2px rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
    transition: all 0.2s ease-in-out 0s;
    color: white;
}
.project-link {
    text-decoration: none;
}

.tile-caption {
    background-color: #4e4e4e;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1em;
    text-align: center;
    color: white;
    bottom: 1em;
}

/* Make an underline appear when hovering over tile */
.project-tile::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #4e4e4e;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}
.project-tile:hover::before {
    visibility: visible;
    transform: scaleX(1);
}
.project-img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.show-all {
    display: block;
    position: relative;
    margin: 3em auto 1em;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    width: 80px;
    background-color: #4e4e4e;
    border-radius: 5px;
    padding: 20px 20px 20px;
}
/* show all button hover effect */
.show-all:hover {
    color: #FFF;
}
.show-all::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    bottom: 18px;
    left: 20px;
    background-color: #FFF;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}
.show-all:hover::before {
    visibility: visible;
    transform: scaleX(1);
}
/* Links section */
#links-section {
    background-color: #003049;
    height: 70vh;
    padding: 3em;
}
.links-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15vh;
}
.links-title {
    color: white;
    letter-spacing: 1px;
    font-size: 4em;
    margin-bottom: 0;
}
.links-p {
    color: lightgrey;
    font-style: italic;
    font-weight: 300;
}
.all-links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
}
.external-link {
    text-decoration: none;
    color: #d3d3d3;

}
.external-link:hover {
    margin-top: 10px;
    transition: all 0.3s ease-in-out 0s;
}
.link-imgs {
    width: 1.5em;
    height: auto;
    align-self: center;
}
/* Footer */
.footer-p {
    text-align: center;
    font-weight: 400;
    font-size: 0.8em;
}